    body {
        background-color: #010712;
        background-image: linear-gradient(
        #010712 15%,
        50%,
        #173158 70%,
        transparent 100%
        );
        background-attachment: fixed; /*Muutetaan, kun tiedetään sivun pituus*/
        color: aliceblue;
        margin: 0px;
        font-family: "Hind Guntur", sans-serif;
    }

    * {
        box-sizing: border-box;
    }

  
  .App {
    font-family: sans-serif;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
  }
  
  h1 {
    color: #323236;
    font-weight: 300;
    text-align: center;
  }
  
  .loppu {
    text-align: center;
  }
  